html {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

body {
  background-color: linen;
}

.container {
  width: 92vw;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  color: white;
  background-color: cyan;
  border: 3px solid;
  border-color: black;
  margin: 20px auto;
  align-content: center;
  height: 400px;
  width: 400px;
  position: relative;
  box-shadow: 5px 10px #8a795d;
}

.box:hover {
  scale: 1.1;
}

.textclass {
  width: 400px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  color: black;
}

.image {
  display: flex;
  margin-bottom: 100px;
  width: 400px;
  height: 300px;
  cursor: pointer;
}

.titletext {
  width: 92vw;
  text-align: center;
  font-size: 100px;
}

.shoppingcart {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.buttonclass {
  position: absolute;
  bottom: 0;
  right: 10;
  margin-bottom: 22px;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 3.5px 8px;
  min-height: 36px;
  min-width: 36px;
  color: black;
  background: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
.buttonclass:hover {
  background: gray;
}

#hiddenDiv {
  display: none;
  background-color: #0099cc;
  width: 300px;
  height: 150px;
  padding: 2px;
  margin: auto;
}
